
  h1 {
  text-align: center;
  font-weight: normal;
  color: #18125d;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  }

  body
  {
    background-color:#b6f8ff;
    color: #18125d;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }


img {
border: none;}

.nav {
padding: 0;}

  .nav li {
    list-style-type: none;
  }

  .nav a:link {
    display: block;
    color: #ffffff;
    background-color: #ffeb89;
    font-weight: bold;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 4px;
    text-decoration: none;
  }

  .nav a:hover, .nav a:active
  {
    color: #18125d;
    background-color: #b6f8ff;
    text-decoration: underline;
  }

  #container {
    width: 90%;
    margin: 0 auto;

  }

  nav ul {
    display: flex;
    flex-flow: column;
  }


  @media (min-width: 600px) {
    nav ul {
        flex-flow: row;
        justify-content: space-between;
    }
  }


}
  @media (min-width: 800px) {
  	nav li {
      display: flex;
      flex-direction: row;
  		justify-content: center;
  	}
  }

  @media (min-width: 1000px) {
  	nav li {
  		margin-right: auto;
  	}
  }


    @media screen and (min-width: 900px) {
      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
        grid-template-areas:
            "a b"
            "c c"
            "d d";
      }

    .section1 {
      width: 100%;
      grid-area: a;
    }

    .image {
      grid-area: b;
    }

    .section2 {
      grid-area: c;
    }

    .section3 {
      grid-area: d;
    }

  }


  @media screen and (min-width:1200px) {
    article {
      display: grid;
      grid-template-columns: 200px 1fr 1fr 1fr;
      grid-gap: 10px;
      grid-template-areas:
          "a a b"
          ". . b"
          "c c b"
          "d d b";
        }
        }









  /*this is a comment */
